
body{
    background-color: rgba(0, 0, 0, 0.365);
}
nav{
    background-color: rgba(0, 0, 0, 0.783);
    text-align: right;
    font-size: 30px;
    padding-top:20px ;
}
nav a {
    padding: 30px;
    text-decoration: none;
    color: rgb(249, 249, 249);
}
nav a:hover{
    text-decoration: underline purple;
    transform: scale(0.5s);
}
.nav a:hover::after{
    color: rgb(206, 156, 253);
}
table, tr, td{
    border: solid white;
    border-collapse: collapse;
}
table{
    background-color: rgba(240, 248, 255, 0.801);
}
